@model IEnumerable<Financing.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h3>@(ViewData["this_year"])年@(ViewData["this_month"])月の会計</h3>


<a asp-action="Index" asp-route-id=@ViewData["target_next"]>次月へ</a>
<br />
<a asp-action="Index" asp-route-id=@ViewData["target_previous"]>前月へ</a>

<table class="table">
    <thead>
        <tr>
            <th width=50%>
                収入
            </th>
            <th>
                @ViewData["in_sum"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(s => s.Type == "in"))
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th width=50%>
                支出
            </th>
            <th>
                @ViewData["out_sum"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(s => s.Type == "out"))
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th width=50%>
                収支
            </th>
            <th>
                @ViewData["total_sum"]
            </th>
        </tr>
    </thead>
</table>
